<div class="groupsetup">
    <div class="slogun">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span>Create </span> Scheduler</h2>
                    <p>Create your scheduler !</p>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.slogun -->
    <div class="container">
        <form action="/save-scheduler" method="post">
            <div class="row">
                <div class="col-md-4">
                    <label>Season:</label>
                    <div class="grop">
                        <select class="setupform" id="session" name="session">
                            <option value="0">-- Select Seasson --</option>
                            <option value="{{session.Summer}}">Summer</option>
                            <option value="{{session.Monsoon}}">Monsoon</option>
                            <option value="{{session.Winter}}">Winter</option>
                            <option value="{{session.Autumn}}">Autumn</option>
                            <option value="{{session.Hemant}}">Hemant</option>
                            <option value="{{session.Spring}}">Spring</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Crop Name:</label>
                    <div class="grop">
                        <select class="setupform" id="cropId" name="cropId">
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <label>Date:</label>
                    <div class="grop">
                        <input type="datetime-local" name="date" id="startDate">
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <label>Note:</label>
                    <div class="grop">
                        <textarea rows="4" name="note" cols="50">Write....</textarea>
                        <input type="submit" value="create">
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </form>

    </div>
    <!-- /.container -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var cropId = document.getElementById("cropId");
        $("#session").change(function ev() {
            $.ajax({
                type: "get",
                url: '/search-crop/' + session[session.selectedIndex].value,
                success: function (data) {
                    var crops = JSON.parse(data);
                    var items = [];
                    for (var obj in crops) {
                        var crp = crops[obj];
                        items.push("<option value='" + crp._id + "'>" + crp.cropName + "</option>");

                    }
                    cropId.innerHTML = items;

                    // Handlebars.templates["collection"] = Handlebars.compile(data);
                },
                error: function (error) {
                    cropId.innerHTML = "";
                },
                dataType: "text",
                async: false
            });
        });
    });
</script>