<div class="slogun">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span> Crop List</span> </h2>
                <p>Your Crop List</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.slogun -->
<div class="croptable">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="selectbox">
                    <select name="session" id="session" class="minimal">
                        <option value="0">-- Select Seasson --</option>
                        <option value="{{session.Summer}}">Summer</option>
                        <option value="{{session.Monsoon}}">Monsoon</option>
                        <option value="{{session.Winter}}">Winter</option>
                        <option value="{{session.Autumn}}">Autumn</option>
                        <option value="{{session.Hemant}}">Hemant</option>
                        <option value="{{session.Spring}}">Spring</option>
                    </select>

                    <input type="button" id="btnSearch" style="background: green;color:white" value="Search">

                    <div class="table-responsive">
                        <table class="table table-bordered flexcroll">
                            <thead>
                                <tr>
                                    <th scope="col">Crop Name</th>
                                    <th scope="col">Land Area</th>
                                    <th scope="col">Investment</th>
                                    <th scope="col">Sell</th>
                                    <th scope="col">IS Done</th>
                                    <th scope="col">Dtart Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Profit</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="cropBody">

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.selectbox -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSearch").click(function ev() {
                var session = document.getElementById("session");
                $.ajax({
                    type: "get",
                    url: '/search-crop/' + session[session.selectedIndex].value,
                    success: function (data) {
                        $("#cropBody").html("");
                        var cropBody = document.getElementById("cropBody");
                        var crops = JSON.parse(data);
                        for (var obj in crops) {
                            var crp = crops[obj];
                            var unit = crp.unit != undefined ? crp.unit : '';
                            $("#cropBody").append("<tr>" +
                                "<td>" + crp.cropName + "</td >" +
                                "<td>" + crp.landArea + " " + unit + "</td>" +
                                "<td>" + crp.initInvestment + "</td>" +
                                "<td> </td>" +
                                "<td><i class='fa fa-check'></i></td>" +
                                "<td>" + crp.startDate + "</td>" +
                                "<td>" + crp.endDate + "</td>" +
                                "<td></td>" +
                                "<td><a href='/edit-crop/" + crp._id + "'>Edit</a></td>" +
                                "</tr> ");

                        }

                        // Handlebars.templates["collection"] = Handlebars.compile(data);
                    },
                    dataType: "text",
                    async: false
                });
            });
        });
    </script>
</div>