<div class="groupsetup">
    <div class="slogun">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span>Crop</span> Setup</h2>
                    <p>Setup your crop information !</p>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.slogun -->
    <div class="container">
        <form action="/create-crop" method="post">
            <div class="row">
                <div class="col-md-3">
                    <label>Season:</label>
                    <div class="grop">
                        <select class="setupform" name="session">
                            <option value="0">-- Select Seasson --</option>
                            <option value="{{session.Summer}}">Summer</option>
                            <option value="{{session.Monsoon}}">Monsoon</option>
                            <option value="{{session.Winter}}">Winter</option>
                            <option value="{{session.Autumn}}">Autumn</option>
                            <option value="{{session.Hemant}}">Hemant</option>
                            <option value="{{session.Spring}}">Spring</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Crop Name:</label>
                    <div class="grop">
                        <input type="text" id="fname" name="cropName" placeholder="Enter crop name">
                    </div>
                </div>
                <!-- /.col-md-5 -->
                
                <div class="col-md-3">
                    <label>Land Area</label>
                    <div class="grop">
                        <input type="text" id="fname" name="landArea" placeholder="Enter land area">
                    </div class="grop">
                </div>
                <div class="col-md-2">
                    <label>Unit</label>
                    <div class="grop">
                        <select name="unit" class="minimal">
                            <option value="0">-- Select --</option>
                            <option value="Acre">Acre</option>
                            <option value="Katha">Katha</option>
                            <option value="Bigha">Bigha</option>
                        </select>
                    </div class="grop">
                </div>
                <!-- /.col-md-4 -->
                
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-5">
                    <label>Initial Investment:</label>
                    <div class="grop">
                        <input type="text" id="fname" name="initInvestment" placeholder="Investment amount">
                    </div>
                </div>
                <!-- /.col-md-5 -->
                <div class="col-md-4">
                    <label>Start Date:</label>
                    <div class="grop">
                        <input type="date" name="startDate" id="startDate">
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-3">
                    <label>End Date:</label>
                    <div class="grop">
                        <input type="date" name="endDate" id="endDate">
                    </div>
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <label>Note:</label>
                    <div class="grop">
                        <textarea rows="4" name="note" cols="50">Write....</textarea>
                        <input type="submit" value="create">
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </form>

    </div>
    <!-- /.container -->
</div>