<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="banner-slo"><span class="banner-slo1">Welcome to</span><span class="banner-slo2">INFORMATIVE</span><span
                        class="banner-slo3">FARMER</span></p>
            </div>
            <!-- /.col-md-12 -->
        </div>
       
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->