<div class="slogun">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>Land</span> setup</h2>
                <p> Setup your land so that you can manage your land !</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.slogun -->
<div class="landsetup">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="setupform">
                    <form action="/create-land" method="post">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="grop">
                                    <input type="text" id="fname" name="cultivableland" placeholder="Total cultivable land">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="grop">
                                    <select name="unit" class="minimal">
                                        <option value="0">-- Select --</option>
                                        <option value="Acre">Acre</option>
                                        <option value="Katha">Katha</option>
                                        <option value="Bigha">Bigha</option>
                                    </select>
                                </div class="grop">
                            </div>
                        </div>
                        <label>Season:</label>
                        <div class="grop">
                            <select class="setupform" name="session">
                                <option value="0">-- Select Seasson --</option>
                                <option value="{{session.Summer}}">Summer</option>
                                <option value="{{session.Monsoon}}">Monsoon</option>
                                <option value="{{session.Winter}}">Winter</option>
                                <option value="{{session.Autumn}}">Autumn</option>
                                <option value="{{session.Hemant}}">Hemant</option>
                                <option value="{{session.Spring}}">Spring</option>
                            </select>
                        </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <!-- /.col-md-5 -->
            <div class="col-md-7">
                <div class="landimg">
                    <img src="images/land setup.jpg" alt="">
                </div>
            </div>
            <!-- /.col-md-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>