<div class="groupsetup">
    <div class="slogun">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span>Login</span>
                    </h2>
                    <p>Login to your account to manage your information.</p>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.slogun -->
    <div class="container">
        <form action="/do-login" method="post">
            <div class="row">
                <div class="col-md-12">
                    <label>Email:</label>
                    <div class="grop">
                        <input type="text" id="fname" name="email" placeholder="Enter your email..">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Password:</label>
                    <div class="grop">
                        <input type="password" id="fname" name="password" placeholder="Enter your password..">
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- /.row -->
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-2">
                    <div class="grop">
                        <a class="signup" href="/sign-up">Sign Up</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="grop">
                        <input type="submit" value="Login">
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
        </form>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>