<div class="slogun">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span> Report</span> </h2>
                <p>Your cultivation report.</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.slogun -->
<div class="croptable">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="selectbox">
                    <select class="minimal">
                        <option value="0">-- Select Seasson --</option>
                        <option value="{{session.Summer}}">Summer</option>
                        <option value="{{session.Monsoon}}">Monsoon</option>
                        <option value="{{session.Winter}}">Winter</option>
                        <option value="{{session.Autumn}}">Autumn</option>
                        <option value="{{session.Hemant}}">Hemant</option>
                        <option value="{{session.Spring}}">Spring</option>
                    </select> 
                    <input type="button" style="background: green;color:white" value="Search">

                    <div class="table-responsive">
                        <table class="table table-bordered flexcroll">
                            <thead>
                                <tr>
                                    <th scope="col">Crop</th>
                                    <th scope="col">Land Area</th>
                                    <th scope="col">Invest</th>
                                    <th scope="col">Sell</th>
                                    <th scope="col">IS Done</th>
                                    <th scope="col">Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Boro
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-check"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>Boro
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-times"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>Boro
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-check"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>Boro
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-times"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>Boro
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-check"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>Boro
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-times"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>24/08/2018
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-check"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                                <tr>
                                    <td>24/08/2018
                                        </th>
                                        <td>25 Bigha</td>
                                        <td>2,70,000 tk</td>
                                        <td>5,37,000 tk</td>
                                        <td><i class="fa fa-times"></i></td>
                                        <td>2,67,000 tk</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.selectbox -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>