<div class="slogun">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span>Crop</span> Scheduler</h2>
                <p>Your Schedule For Crop Maintanance</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.slogun -->
<div class="croptable">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="selectbox">
                    <select name="session" id="session" class="minimal">
                        <option value="0">-- Select Seasson --</option>
                        <option value="{{session.Summer}}">Summer</option>
                        <option value="{{session.Monsoon}}">Monsoon</option>
                        <option value="{{session.Winter}}">Winter</option>
                        <option value="{{session.Autumn}}">Autumn</option>
                        <option value="{{session.Hemant}}">Hemant</option>
                        <option value="{{session.Spring}}">Spring</option>
                    </select>
                    <input type="button" id="btnSearch" style="background: green;color:white" value="Search">
                    <div class="table-responsive">
                        <table class="table table-bordered flexcroll">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Crop Name</th>
                                    <th scope="col">Note</th>
                                </tr>
                            </thead>
                            <tbody id="schBody">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearch").click(function ev() {
            var session = document.getElementById("session");
            $.ajax({
                type: "get",
                url: '/search-sch/' + session[session.selectedIndex].value,
                success: function (data) {
                    $("#schBody").html("");
                    var crops = JSON.parse(data);
                    for (var obj in crops) {
                        var crp = crops[obj];
                        $("#schBody").append("<tr>" +
                            "<td>" + crp.date + "</td >" +
                            "<td>" + crp.cropName + "</td >" +
                            "<td>" + crp.note + "</td >" +
                            "</tr> ");

                    }

                    // Handlebars.templates["collection"] = Handlebars.compile(data);
                },
                error: function (err) {
                    console.log(err);
                },
                dataType: "text",
                async: true
            });
        });
    });
</script>