<div class="groupsetup">
    <div class="slogun">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span>Registration</span>
                    </h2>
                    <p>Create a new Account</p>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.slogun -->
    <div class="container">
        <form action="/do-signup" method="post">
            <div class="row">
                <div class="col-md-4">
                    <label>Name:</label>
                    <div class="grop">
                        <input type="text" id="fname" name="name" placeholder="Enter your name..">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Email:</label>
                    <div class="grop">
                        <input type="text" id="fname" name="email" placeholder="Enter your email..">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Contact No:</label>
                    <div class="grop">
                        <input type="text" id="fname" name="contactNo" placeholder="Enter your Contact no..">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Password:</label>
                    <div class="grop">
                        <input type="password" id="fname" name="password" placeholder="Enter your password..">
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- /.row -->
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-2">
                    <div class="grop">
                        <a class="signup" href="/login">Login</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="grop">
                        <input type="submit" value="Submit">
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
        </form>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>