<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">


    <script src="/js/jquery.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <a href="/" class="logo">
                <img src="images/Logo.png" alt="">
            </a>
            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item active">
                        <a href="/">Home</a>
                    </li>
                    {{!--
                    <li class="menu-item">
                        <a href="#">Cultivation</a>
                    </li> --}}
                    <li class="menu-item">
                        <a href="/land-setup">Land Setup</a>
                    </li>
                    <li class="menu-item">
                        <a href="/crop-setup">Crop Setup</a>
                    </li>
                    <li class="menu-item">
                        <a href="/crop-list">Crop List</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Cost Update</a>
                    </li>
                    <li class="menu-item">
                        <a href="/create-scheduler">Create Scheduler</a>
                    </li>
                    <li class="menu-item">
                        <a href="/schedulers">Scheduler</a>
                    </li>
                    <li class="menu-item">
                        <a href="/report">Report</a>
                    </li>
                    {{#if isLogin}}
                    <li class="menu-item">
                        <a href="/logout">Logout</a>
                    </li>  
                    {{else}}
                      <li class="menu-item">
                        <a href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>
    {{# if success }}
    <div style="margin-top: 80px" class="row">
        <div style="width: 100%; text-align: center; margin: 0; vertical-align: middle;" class="alert-success">
            Success
        </div>
    </div>
    {{/if}} {{# if error}}
    <div style="margin-top: 80px" class="row">
        <div style="width: 100%; text-align: center; margin: 0; vertical-align: middle;" class="alert-danger">
            {{error}}
        </div>
    </div>
    {{/if}} {{>(whichPartial)}}


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footerbox">
                        <h3>about us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere excepturi atque cumque, natus porro
                            consequuntur earum qui fugit sit rerum beatae doloremque aspernatur id, temporibus quasi magnam
                            voluptas? Reiciendis. natus porro consequuntur earum qui fugit sit.
                            <a href="">See More..</a>
                        </p>
                    </div>
                    <!-- /.footerbox -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="footerbox">
                        <h3>recent news</h3>
                        <div class="rnews1">
                            <a href="">
                                <img src="images/news1.jpg" alt="" class="rnewsimg pull-left">
                                <p class="rnews-title">Yet another useful thing that?
                                    <span class="timer">
                                        <i class="fa fa-clock-o"></i> Jul 16, 2018</span>
                                </p>
                            </a>
                        </div>
                        <div class="rnews1">
                            <a href="">
                                <img src="images/news2.jpg" alt="" class="rnewsimg pull-left">
                                <p class="rnews-title">Yet another useful thing that?
                                    <span class="timer">
                                        <i class="fa fa-clock-o"></i> Jul 16, 2018</span>
                                </p>
                            </a>
                        </div>
                        <div class="rnews1">
                            <a href="">
                                <img src="images/news3.jpg" alt="" class="rnewsimg pull-left">
                                <p class="rnews-title">Yet another useful thing that?
                                    <span class="timer">
                                        <i class="fa fa-clock-o"></i> Jul 16, 2018</span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- /.footerbox -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="footerbox">
                        <h3>contact info</h3>
                        <ul>
                            <li>
                                <span>Phone:</span> 01852540565</li>
                            <li>
                                <span>Email:</span> arifkhan0713@mail.com</li>
                            <li>
                                <a href="">
                                    <span>Web:</span> rashedkhan.com</a>
                            </li>
                            <li>
                                <span>Address:</span> Bangladesh University Of Business & Technology</li>
                        </ul>
                    </div>
                    <!-- /.footerbox -->
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2018. All Rights Reserved.</p>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.copyright -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>