@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Base CSS */
* {
    margin: 0;
    padding: 0;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body {
    background: #fff;
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1070px;
}
/* =============================================
 *
 *   FIXED RESPONSIVE NAV
 *
 *   Credit: 
 *   http://viljamis.com/ ( JS Plugin)
 *   http://www.adtile.me/ (Fixed example)
*    https://fortawesome.github.io/Font-Awesome/ (Icon font)
 *
 *   Free to use under the MIT License.
 *
 * ============================================= */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}
@font-face {
    font-family: DobkinScript;
    src: url(DobkinScript.ttf);
}
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */


.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0;
  color: #000;
  float: left;
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .2);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 768px) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  color: #000;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
      color: #fff;
    background: #01540E;
}

@media screen and (min-width: 768px) {
  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
  
  .nav-collapse:last-child a {
    
  }
}
nav.nav-collapse ul{
    list-style: none;
}
li.menu-item {
    float: left;
}
li.menu-item a {
    text-align: center;
    padding: 28px 20px;
    float: left;
    color: #3e3d3d;
    font-size: 16px;
}
@media screen and (min-width: 768px) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #000; /* Edit this to change the icon color */
  font: normal 28px/55px "FontAwesome"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: right;
  position: absolute;
  content: "\f0c9"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\f00d"; /* Close icon */
}
header {
    background: #138D28;
    color: #fff;
    height: 80px;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
header .container a.logo img {
    margin: 6px 0px;
}

/* ------------------------------------------
  MAIN STYLES START
--------------------------------------------- */
.croptable {
    margin: 40px auto 100px;
}
.slogun {
    margin-top: 160px;
}
.slogun h2 {
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: normal;
}
.slogun h2 span {
  color: #138D28;
  font-weight: 600;
}
.slogun p {
  text-align: center;
  color: #999;
  margin-top: 7px;
}
.banner {
    margin-top: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.banner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url("../images/Home image.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.banner .banner-slo {
    font-size: 100px;
    padding: 150px 0px;
    display: inline-grid;
    line-height: 130px;
}
span.banner-slo1 {
    font-family: DobkinScript;
    font-weight: 400;
    font-size: 140px;
    color: #138d28;
}
span.banner-slo2 {
    color: #1B1B1B;
    font-weight: 600;
}
span.banner-slo3 {
    color: #01540E;
    font-weight: 500;
}


.landsetup-slo {
    margin-top: 100px;
}
thead{background: #DFDFDF;}
.table-bordered td, .table-bordered th {
    border: 1px solid #b0bfce;
    padding: 16px 0px;
    color: #565656;
}

table {height: auto; font-weight: normal; font-size: 14px; color: #000;}
th {
    text-align: center!important;
    padding: 20px 0px !important;
    color: #222;
    border-bottom: 1px solid #b0bfce !important;
}
tbody{background: #fff;text-align: center;}
.t3{background: #F1645E;}
.selectbox {
    border: 1px solid #138d28;
    padding: 30px 50px;
}
select {
    background-color: white;
    border: 1px solid #b0bfce;
    border-radius: 0px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 10px 70px 10px 10px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #333;
    font-size: 15px;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  margin: 15px auto 40px;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border: 1px solid #b0bfce;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: none;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.selectbox label {
  display: block;
}
.selectbox input {
    border: 1px solid #c4c4c4;
    border-radius: 0px;
    background-color: #fff;
    padding: 8px 5px;
    width: 287px;
    color: #333;
    margin-left: 20px;
}
i.fa.fa-check {
    color: #138D28;
    font-size: 16px;
}
i.fa.fa-times {
  color: #e8562a;
  font-size: 16px;
}
.groupsetup {
    margin-top: 20px;
    padding-bottom: 90px; 
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url("../images/20.png");
    background-repeat: no-repeat;
    background-position: 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.landsetup {
    margin: 100px auto;
}
select.setupform {
  -webkit-appearance: menulist-button !important;
    -moz-appearance: menulist-button !important;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
}
.landsetup .setupform label {
    margin: 0px 0px 14px 0px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}
.grop {
    margin-bottom: 20px;
}
.grop select.setupform {
  background: transparent;
  color: #6b6363;
}
.grop select.minimal {
  width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
    margin: 0;
    background: transparent;
    color: #6b6363;
}
.container label {
    float: left;
    margin: 25px 0px 5px 0px;
}
.groupsetup .slogun {
    margin-top: 100px;
    margin-bottom: 40px;
}
textarea {
      width: 100%;
    height: 160px;
    padding: 10px;
    border: 1px solid #01540E;
    margin: 0;
    background: transparent;
    color: #6b6363;
}
.grop input#dateofbirth {
  width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
    margin: 0;
    background: transparent;
    color: #6b6363;
}
#startDate {
  width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
    margin: 0;
    background: transparent;
    color: #6b6363;
}
#endDate {
  width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
    margin: 0;
    background: transparent;
    color: #6b6363;
}
input[type="submit"] {
    background: #138D28;
    border: 0px solid;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
}
.grop input[type="submit"] {
    background: #138D28;
    border: 0px solid;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
    float: right;
    border-radius: 4px;
    text-transform: uppercase;
}
.signup {
    background: #138D28;
    border: 0px solid;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
    float: right;
    border-radius: 4px;
    text-transform: uppercase;
}
input#fname {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
    background: transparent;
}
.landsetup .setupform select.minimal {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #01540E;
    margin: 0;
    background: transparent;
    color: #333;
}
.landimg img {
    border: 3px solid #138D28;
}
/* ------------------------------------------
  MAIN STYLES END
--------------------------------------------- */


.footer {
    background: #000000;
    padding-bottom: 30px;
}
.rnews1 {
    position: relative;
    display: inline-grid;
    width: 100%;
    margin-bottom: 15px;
}
.footerbox h3 {
    color: #fff;
    border-bottom: 1px solid #a7a7a7;
    padding: 4px 0px 6px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 35px 0px 30px;
    position: relative;
}
.footerbox h3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    width: 40px;
    height: 3px;
    background: #138d28;
}
.footerbox p {
    color: #D1D1D1;
    font-size: 14px;
    line-height: 27px;
}
.footerbox p a {
  color: #549601;
}
.footerbox p a:hover {
  color: #01540E;
}
img.rnewsimg.pull-left {
    width: 60px;
    margin-right: 12px;
}
p.rnews-title {
    color: #BABABA;
    font-weight: 600;
    display: inline-grid;
    font-size: 13px;
}
span.timer {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}
span.timer i.fa.fa-clock-o {
    color: #549601;
}
.footerbox ul li {
    margin: 15px 0px;
    font-size: 14px;
    color: #D1D1D1;
}
.footerbox li span {
    color: #138D28;
}
.footerbox ul li a {
  color: #D1D1D1;
}
.footerbox ul li a span,.footerbox ul li a span {
  color: #549601;
}
.copyright p {
  text-align: center;
  margin: 12px 0px;
  font-size: 13px;
}


